{% extends "base.html" %}

{% block content %}
<h1>{{ project.name }}</h1>

<table>
  <tr>
    <th>プロジェクト名</th>
    <td>{{ project.name }}</td>
  </tr>

  <tr>
    <th>作成日</th>
    <td>{{ project.created_at|date:"Y/m/d" }}</td>
  </tr>

  <tr>
    <th>更新日</th>
    <td>{{ project.updated_at|date:"Y/m/d" }}</td>
  </tr>
</table>

<p>
  <a href="{% url 'project_update' project.id %}">編集</a>
  <a href="{% url 'project_delete' project.id %}">削除</a>
  <a href="{% url 'project_list' %}">一覧へ戻る</a>
</p>

<h2>{{ project.name }}のタスク一覧</h2>
<p>
  <a href="{% url 'task_create' %}?project={{ project.id }}">タスク追加</a>
</p>
{% if project.task_set %}
  <table>
    <thead>
      <tr>
        <th>タスク名</th>
        <th>担当者</th>
        <th>ステータス</th>
        <th>期日</th>
      </tr>
    </thead>
    <tbody>
      {% for task in project.task_set.all %}
        <tr>
          <td>
            <a href="{% url 'task_detail' task.pk %}">
              {{ task.title }}
            </a>
          </td>
          <td>{{ task.assignee.username }}</td>
          <td>{{ task.status.name }}</td>
          <td>{{ task.deadline|date:"Y/m/d" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>プロジェクトはまだ登録されていません。</p>
{% endif %}
{% endblock %}
