{% load markdown_extras %}
{% if comments %}
<table class="table">
  <thead>
    <tr>
      <th>投稿日時</th>
      <th>コメント</th>
      <th>投稿者</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
      <tr>
        <td>
          <a href="{% url 'comment_detail' comment.pk %}">
            {{ comment.created_at|date:"Y/m/d H:i:s" }}
          </a>
        </td>
        <td>
            {{ comment.description|markdown:task.project|safe }}
        </td>
        <td>{{ comment.author.username }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p>コメントはまだ登録されていません。</p>
{% endif %}

<p>
  {% if task %}
  <a href="{% url 'comment_create' %}?task={{ task.id }}">コメント</a>
  {% else %}
  <a href="{% url 'comment_create' %}">コメント</a>
  {% endif %}
</p>
