{% load tree_queries %}
{% if tasks %}
<table class="table">
  <tr>
    <th style="width: 20%;">タイトル</th>
    <th style="width: 8%;">サブタスク</th>
    <th style="width: 20%;">進捗状況</th>
    <th style="width: 12%;">担当者</th>
    <th style="width: 10%;">ステータス</th>
    <th style="width: 15%;">期日</th>
    <th style="width: 10%;">ウォッチ</th>
  </tr>
  {% recursetree tasks %}
    {% include "task_app/components/task_list_item.html" with task=node hide_project_column=True %}
    {{ children }}
  {% endrecursetree %}
</table>
{% endif %}
