{% load markdown_extras %}

<tr class="accordion">
  <td class="flex-grow-1">
    <div class="line-clamp-1">
      <span class="tree-item" style="--depth: {{ task.tree_depth }};" >
        <a href="{% url 'task_detail' task.pk %}?{{ status_filter }}">
          <strong>{{ task.title }}</strong>
        </a>
      </span>
    </div>
  </td>
  <td class="text-center">
    {% if task.total_subtask_count %}
      {{ task.completed_subtask_count|default:0 }}/{{ task.total_subtask_count|default:0 }}
    {% endif %}
  </td>
  <td>
    {{ task.progress_summary|markdown:task.project|safe }}
  </td>
  <td class="text-end" style="width: 120px;">
    <span class="badge bg-primary">{{ task.status.name }}</span>
  </td>
  <td class="text-end" style="width: 200px;">
    {% if task.deadline %}
    期日：{{ task.deadline|date:"Y/m/d" }}
    {% else %}
    期日が設定されていません
    {% endif %}
  </td>
  <td>
  {% if task in user.watches.all %}
    <form method="POST" action="{% url 'task_unwatch' task.pk %}" style="display: inline-block;">
      {% csrf_token %}
      <button type="submit">ウォッチを外す</button>
    </form>
  {% else %}
    <form method="POST" action="{% url 'task_watch' task.pk %}" style="display: inline-block;">
      {% csrf_token %}
      <button type="submit">ウォッチする</button>
    </form>
  {% endif %}
  </td>
</tr>
