{% load tree_queries %}

<div class="panel-body">
  {% if project %}
  <a href="{% url 'task_create' %}?project={{ project.id }}">タスク追加</a>
  {% elif task %}
  <a href="{% url 'task_create' %}?task={{ task.id }}">タスク追加</a>
  {% endif %}
  <form method="get">
    {% for status in status_list %}
    <input 
      type="checkbox" 
      name="status" 
      value="{{ status.pk }}"
      {% if status.pk in selected_status_list %}checked{% endif %}>{{ status.name }}</input>
    {% endfor %}
    <button type="submit">更新</button>
  </form>
</div>
{% if tasks %}
<table class="table">
  <tr>
    <th style="width: 18%;">タイトル</th>
    <th style="width: 8%;">サブタスク</th>
    <th style="width: 18%;">進捗状況</th>
    {% if not hide_project_column %}<th style="width: 12%;">プロジェクト</th>{% endif %}
    <th style="width: 10%;">担当者</th>
    <th style="width: 10%;">ステータス</th>
    <th style="width: 14%;">期日</th>
    <th style="width: 10%;">ウォッチ</th>
  </tr>
  {% recursetree tasks %}
    {% include "task_app/components/task_list_item.html" with task=node %}
    {{ children }}
  {% endrecursetree %}
</table>
{% else %}
<p>タスクはまだ登録されていません。</p>
{% endif %}