asgiref==3.11.1
Django==6.0.4
django-auditlog==3.4.1
django-bootstrap3==26.1
django-tree-queries==0.24.0
gunicorn==23.0.0
Markdown==3.10.2
packaging==26.2
pip-licenses==5.5.5
prettytable==3.17.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.2
wcwidth==0.6.0
serverless-wsgi==3.1.0
