<p>
  {% if project %}
  <h2>{{ project.name }}のタスク一覧</h2>
  <a href="{% url 'task_create' %}?project={{ project.id }}">タスク追加</a>
  {% elif task %}
  <h2>{{ task.title }}のサブタスク一覧</h2>
  <a href="{% url 'task_create' %}?task={{ task.id }}">タスク追加</a>
  {% endif %}
</p>
{% if tasks %}
<form method="get">
  {% for status in status_list %}
  <input 
    type="checkbox" 
    name="status" 
    value="{{ status.pk }}"
    {% if status.pk in selected_status_list %}checked{% endif %}>{{ status.name }}</input>
  {% endfor %}
  <button type="submit">更新</button>
</form>
<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>担当者</th>
      <th>ステータス</th>
      <th>期日</th>
    </tr>
  </thead>
  <tbody>
    {% include "task_app/components/task_list_item.html" with tasks=tasks nest_count=0 %}
  </tbody>
</table>
{% else %}
  <p>タスクはまだ登録されていません。</p>
{% endif %}