{% load tree_queries %}

<div class="panel-body">
  {% if project %}
  <a href="{% url 'task_create' %}?project={{ project.id }}">タスク追加</a>
  {% elif task %}
  <a href="{% url 'task_create' %}?task={{ task.id }}">タスク追加</a>
  {% endif %}
  <form method="get">
    {% for status in status_list %}
    <input 
      type="checkbox" 
      name="status" 
      value="{{ status.pk }}"
      {% if status.pk in selected_status_list %}checked{% endif %}>{{ status.name }}</input>
    {% endfor %}
    <button type="submit">更新</button>
  </form>
</div>
{% if tasks %}
<div class="list-group">
{% recursetree tasks %}
  <div class="list-group-item 
    list-group-item-action" 
    style="padding-left: {{ nest }}px;">
    {% include "task_app/components/task_list_item.html" with task=node nest=0 %}
    <div class="list-group" style="margin: 0;">
    {{ children }}
    </div>
  </div>
{% endrecursetree %}
</div>
{% else %}
<p>タスクはまだ登録されていません。</p>
{% endif %}