{% load markdown_extras %}

<tr>
  <td class="flex-grow-1">
    <span class="tree-item" style="--depth: {{ task.tree_depth }};" >
      <a href="{% url 'task_detail' task.pk %}?{{ status_filter }}">
        <strong>{{ task.title }}</strong>
      </a>
    </span>
  </td>
  <td>
    {{ task.progress_summary|markdown:task.project|safe }}
  </td>
  <td class="text-end" style="width: 120px;">
    <span class="badge bg-primary">{{ task.status.name }}</span>
  </td>
  {% if task.deadline %}
  <td class="text-end" style="width: 200px;">
    期日：{{ task.deadline|date:"Y/m/d" }}
  </td>
  {% else %}
  <td class="text-end" style="width: 200px;">
    期日が設定されていません
  </td>
  {% endif %}
</tr>
