<div class="d-flex border rounded p-2">
  <div class="flex-grow-1">
    <a href="{% url 'task_detail' task.pk %}?{{ status_filter }}">
      <strong>{{ task.title }}</strong>
    </a>
  </div>
  <div class="text-end" style="width: 120px;">
    <span class="badge bg-primary">{{ task.status.name }}</span>
  </div>
  {% if task.deadline %}
  <div class="text-end" style="width: 200px;">
    期日：{{ task.deadline|date:"Y/m/d" }}
  </div>
  {% else %}
  <div class="text-end" style="width: 200px;">
    期日が設定されていません
  </div>
  {% endif %}
</div>
