{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#tab-list" aria-controls="tab-list" role="tab" data-toggle="tab">プロジェクト一覧</a>
  </li>
  <li role="presentation">
    <a href="#tab-gantt" aria-controls="tab-gantt" role="tab" data-toggle="tab">ガントチャート</a>
  </li>
</ul>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="tab-list">
    <div class="panel panel-default">
      <div class="panel-heading">プロジェクト一覧</div>
      <div class="panel-body">
        <p>
          <a href="{% url 'project_create' %}">新規プロジェクト作成</a>
        </p>
      </div>
      {% include "task_app/components/project_list_component.html" with projects=projects %}
    </div>

    {% for widget in page_widgets %}
      {% include "task_app/components/widget_component.html" with widget=widget %}
    {% endfor %}
  </div>

  <div role="tabpanel" class="tab-pane" id="tab-gantt">
    {% include "task_app/components/task_filter_component.html" with reset_url=request.path param_name='search_gantt' filter_value=gantt_filter_value %}
    {% for item in gantt_by_project %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url 'project_detail' item.project.pk %}">{{ item.project.name }}</a>
      </div>
      <div class="panel-body" style="padding: 8px;">
        {% include "task_app/components/gantt_component.html" with gantt=item.gantt %}
      </div>
    </div>
    {% empty %}
    <p>参画しているプロジェクトがありません。</p>
    {% endfor %}
  </div>

</div>

{% block extra_js %}
<script>
  $(document).ready(function() {
    var params = new URLSearchParams(window.location.search);
    var hash = window.location.hash;
    if (hash) {
      $('a[href="' + hash + '"]').tab('show');
    } else if (params.has('search_gantt')) {
      $('a[href="#tab-gantt"]').tab('show');
    }
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      if (history.replaceState) {
        history.replaceState(null, null, e.target.hash);
      }
    });
  });
</script>
{% endblock %}
{% endblock %}
