{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ project.name }}</h3>
  </div>
  {% include "task_app/components/project_detail_component.html" with project=project %}
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#tab-detail" aria-controls="tab-detail" role="tab" data-toggle="tab">詳細</a>
  </li>
  <li role="presentation">
    <a href="#tab-gantt" aria-controls="tab-gantt" role="tab" data-toggle="tab">ガントチャート</a>
  </li>
</ul>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="tab-detail">
    <div class="panel panel-default">
      <div class="panel-heading">{{ project.name }}のイベント一覧</div>
      {% include "event_app/components/event_list_component.html" with events=project.event_set.all %}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">{{ project.name }}のタスク一覧</div>
      {% include "task_app/components/task_list_component.html" with tasks=tasks project=project status_list=status_list selected_status_list=selected_status_list nest_count=0 %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="tab-gantt">
    <div class="panel panel-default">
      <div class="panel-heading">{{ project.name }}のガントチャート</div>
      <div class="panel-body" style="padding: 8px;">
        <form class="form-inline" method="get" style="margin-bottom: 12px;">
          <div class="form-group">
            <label>開始日&nbsp;<input type="date" name="gantt_from" class="form-control input-sm" value="{{ gantt_from }}"></label>
          </div>
          &nbsp;〜&nbsp;
          <div class="form-group">
            <label>終了日&nbsp;<input type="date" name="gantt_to" class="form-control input-sm" value="{{ gantt_to }}"></label>
          </div>
          &nbsp;
          <div class="form-group">
            <label>担当者&nbsp;<input type="text" name="gantt_assignees" class="form-control input-sm" value="{{ gantt_assignees }}" placeholder="ユーザ名（カンマ区切り）" style="width: 200px;"></label>
          </div>
          &nbsp;
          <div class="form-group">
            <label class="radio-inline"><input type="radio" name="gantt_status" value="active" {% if gantt_status == 'active' or not gantt_status %}checked{% endif %}>&nbsp;進行中</label>
            <label class="radio-inline"><input type="radio" name="gantt_status" value="done" {% if gantt_status == 'done' %}checked{% endif %}>&nbsp;完了</label>
            <label class="radio-inline"><input type="radio" name="gantt_status" value="all" {% if gantt_status == 'all' %}checked{% endif %}>&nbsp;すべて</label>
          </div>
          &nbsp;<button type="submit" class="btn btn-default btn-sm">表示</button>
          <a href="{% url 'project_detail' project.pk %}#tab-gantt" class="btn btn-link btn-sm">リセット</a>
        </form>
        {% include "task_app/components/gantt_component.html" with gantt=gantt %}
      </div>
    </div>
  </div>

</div>

{% block extra_js %}
<script>
  $(document).ready(function() {
    var params = new URLSearchParams(window.location.search);
    var hash = window.location.hash;
    if (hash) {
      $('a[href="' + hash + '"]').tab('show');
    } else if (params.has('gantt_from') || params.has('gantt_to') || params.has('gantt_assignees') || params.has('gantt_status')) {
      $('a[href="#tab-gantt"]').tab('show');
    }
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      if (history.replaceState) {
        history.replaceState(null, null, e.target.hash);
      }
    });
  });
</script>
{% endblock %}
{% endblock %}
