{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ユーザー詳細</h3>
  </div>
  <div class="panel-body">

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label>ユーザー名</label>
        {% bootstrap_field form.username %}
      </div>

      <div class="form-group">
        <label>作成日時</label>
        <p class="form-control-static">{{ object.date_joined|date:"Y/m/d H:i" }}</p>
      </div>

      <div class="form-group">
        {% bootstrap_field preferences_form.config %}
      </div>

      <button type="submit" class="btn btn-primary">保存</button>
      <a href="{% url 'project_list' %}" class="btn btn-default">キャンセル</a>
    </form>

  </div>
</div>
{% endblock %}
