<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ object.name }}</h3>
  </div>
  <table class="table">
    <tr>
      <th>イベント名</th>
      <td>{{ event.name }}</td>
    </tr>
    <tr>
      <th>開催日</th>
      <td>{{ event.event_date|date:"Y/m/d" }}</td>
    </tr>
    <tr>
      <th>前回</th>
      <td>
        {% if event.previous_event.pk %}
          <a href="{% url 'event_detail' pk=event.previous_event.pk %}">{{event.previous_event.name}}</a>
        {% else %}
          ー
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>次回</th>
      <td>
        {% if event.next_event.pk %}
          <a href="{% url 'event_detail' pk=event.next_event.pk %}">{{event.next_event.name}}</a>
        {% else %}
          ー
        {% endif %}
      </td>
    </tr>
  </table>
  {% if not event.next_event %}
  <div class="panel-body">
    <a href="{% url 'event_create' %}?previous={{ object.pk }}">次回のイベントを追加</a>
  </div>
  {% endif %}
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">在庫確認履歴</h3>
  </div>
{% if object.inventory_set.all|length > 0 %}
  <table class="table">
    <tr>
      <th style="width: 30%;">記録日時</th>
      <th style="width: 60%;">ラベル</th>
      <th style="width: 10%;"></th>
    </tr>
    {% for inventory in object.inventory_set.all %}
    <tr>
      <td>
        <a href="{% url "inventory_detail" pk=inventory.pk %}">{{ inventory.created_at|date:"Y/m/d H:i:s" }}</a>
      </td>
      <td>{{ inventory.name }}</th>
      <td>
        {% if not inventory.next_inventory %}
        <a href="{% url "inventory_create" %}?previous={{inventory.pk}}">在庫確認</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <div class="panel-body">
    <a href="{% url 'inventory_create' %}">在庫確認履歴を追加</a>
  </div>
{% endif %}
</div>
