{% if project %}
<div class="panel-body">
  <a href="{% url 'event_create' %}?project={{ project.id }}">イベントを追加</a>
  {% if event_status_list %}
  <form method="get" style="display: inline-block; margin-left: 16px;">
    {% for status in event_status_list %}
    <input
      type="checkbox"
      name="event_status"
      value="{{ status.pk }}"
      {% if status.pk in selected_event_status_list %}checked{% endif %}>{{ status.name }}</input>
    {% endfor %}
    <button type="submit">更新</button>
  </form>
  {% endif %}
</div>
{% elif events|length == 0 %}
<div class="panel-body">
  <a href="{% url 'event_create' %}">イベントを追加</a>
</div>
{% endif %}

{% if events %}
<table class="table">
  <thead>
    <tr>
      <th>イベント</th>
      <th>開催日</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
      <tr>
        <td>
          <a href="{% url 'event_detail' event.pk %}">
            {{ event.name }}
          </a>
        </td>
        <td>{{ event.event_date|date:"Y/m/d" }}</td>
        <td>{{ event.status.name|default:"—" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="panel-body">イベントはまだ登録されていません。</p>
{% endif %}
